#footer
{
    background-color: black;
}
header
{
    background-color: black;
    display:block;
}

body
 {
  background-color: silver;
 }

#titre
{
    color: white;
    font-size: 40px;
    font-style: italic;
    font-weight: bold;
    margin-left : 50px;
    background-color: black;
    display:inline-block;
}
h1{
    height:100%;
    margin-top:20px;
    margin-bottom:20px;
}
  #banniere
   {
    height:100%;
    margin:20px;
    padding-top:10px;
    color:white;
    background-color:black;
    float: right;
   } 

  input{
      max-width:100%;
  }
  #co{
      display:inline-block;
  }
  #ins{
      display:inline-block;
  }
  #menu
  {
      margin-left: 0.5%;
      padding-top: 5%;
  }
  #bibli input
  {
      height: 50px;
      width: 300px;
      border-radius:20px;

}
#rechercher input
{
    height:50px;
    width: 300px;
    border-radius:20px;
}
#rechercher 
{
    padding-left : 315px;
    margin-top : -50px;
    height:50px;
}
#suggestion input
{
    height:50px;
    width: 300px;
    border-radius:20px;
}
#suggestion
{
    padding-left : 630px;
    margin-top : -50px;
    height:50px;
}
#liste input
{
    height:50px;
    width: 300px;
    border-radius:20px;
}
#liste
{
    padding-left : 945px;
    margin-top : -50px;
    height:50px;
}
#top input
{
    height:50px;
    width: 300px;
    border-radius:20px;
}
#top
{
    padding-left : 1260px;
    margin-top : -50px;
    height:50px;
}

/* Uniquement pour la page d'accueil et de recherche*/
#titreT
{
padding-top: 50;
    margin : 25;
    font-size: 20px;
}
#test
{
    line-height: 50px;
    height:50px;
}

#top10
{
    padding-bottom: 25px;
}

/*Page de rechercher */
#recherche
{
    display:block;
padding-top: 1.5%;
}

#barre
{ 

}

#validerRecherche
{

}

#avancée
{

}
