header
{
 background-color: black;
display:block;
}

body
 {
  background-color: silver;
 }

#titre
{
    color: white;
    font-size: 40px;
font-style: italic;
font-weight: bold;
    margin-left : 50px;
    background-color: black;
    display:inline-block;
}
h1{
    height:100%;
    margin-top:20px;
    margin-bottom:20px;
}
  #banniere
   {
    height:100%;
    margin:20px;
    padding-top:10px;
    color:white;
    background-color:black;
    float: right;
   } 

  input{
      max-width:100%;
}
  #co{
      display:inline-block;
}
  #ins{
      display:inline-block;
}
#titreM
{
 margin : 25;
 font-size: 20px;
padding-top: -25px;
}
#bibli input
{
height: 50px;
width: 315px;

}
#rechercher input
{
height:50px;
width: 315px;
}
#rechercher 
{
padding-left : 315px;
margin-top : -50px;
height:50px;
}
#suggestion input
{
height:50px;
width: 310px;
}
#suggestion
{
padding-left : 630px;
margin-top : -50px;
height:50px;
}
#liste input
{
height:50px;
width: 315px;
}
#liste
{
padding-left : 935px;
margin-top : -50px;
height:50px;
}
#top input
{
height:50px;
width: 315px;
}
#top
{
padding-left : 1248px;
margin-top : -50px;
height:50px;
}

#titreT
{
 margin : 25;
 font-size: 20px;
}
#test
{
            line-height: 50px;
            height:50px;
}

#top10
{
padding-bottom: 25px;
}
#footer
 {
  background-color: black;
 }